<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name = "author" content="Student">
    <meta name = "keywords" content="Viking">
    <meta name = "description" content="Website de projecto">
    <meta name = "location" content="ulusofona">
    <title>Viking age</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'webbsite/css/base.css/' %}">
</head>
<header>
    <%%>
    <h1>Ola</h1>
    <img src="{% static 'webbsite/images/image1.jpg/' %}" alt = "My image">
</header>
<body>
</body>
</html>